@inject ICharacterService CharacterService
@inject HttpClient httpClient
@using Emne6_Eksamen.Components.Pages.Interfaces

@page "/Characters"


@if (loaded)
{
    @if (characterData != null && characterData.Any())
    {
        @foreach (CharacterData characters in characterData)
        {
            <div>
                <CategoryComponent thisCharacterData="@characters"></CategoryComponent>
            </div>
        }
    }
    else
    {
        <p>No data</p>
    }
}

else
{
    <p>Loading...</p>
}

@code {
    bool loaded = false;
    List<CharacterData> characterData { get; set; } = new List<CharacterData>();
    
    protected override async Task OnInitializedAsync()
    {
        loaded = false;
        
        string url = $"https://lotrapi.co/api/v1/characters";

        try
        {
            CharacterResponse characterResponse = await httpClient.GetFromJsonAsync<CharacterResponse>(url);

            characterData = characterResponse.results;

            CharacterService.SetCharacterData(characterData);
        }
        catch (HttpRequestException e)
        {
            Console.WriteLine($"Request error: {e.Message}");
            characterData = new List<CharacterData>();
        }
        catch (Exception e)
        {
            Console.WriteLine($"Error: {e.Message}");
            characterData = new List<CharacterData>();
        }

        loaded = true;
    }
}