@inject IBooksService BooksService
@inject HttpClient httpClient
@using Emne6_Eksamen.Components.Pages.Interfaces

@page "/Books"


@if (loaded)
{
    @if (booksData != null && booksData.Any())
    {
        @foreach (BooksData books in booksData)
        {
            <div>
                <CategoryComponent thisBooksData="@books"></CategoryComponent>
            </div>
        }
    }
    else
    {
        <p>No data</p>
    }
}

else
{
    <p>Loading...</p>
}

@code {
    bool loaded = false;
    List<BooksData> booksData { get; set; } = new List<BooksData>();

    protected override async Task OnInitializedAsync()
    {
        loaded = false;
        
        string url = $"https://lotrapi.co/api/v1/books";

        try
        {
            BooksResponse bookResponse = await httpClient.GetFromJsonAsync<BooksResponse>(url);

            booksData = bookResponse.results;

            BooksService.SetBooksData(booksData);

        }
        catch (HttpRequestException e)
        {
            Console.WriteLine($"Request error: {e.Message}");
            booksData = new List<BooksData>();
        }
        catch (Exception e)
        {
            Console.WriteLine($"Error: {e.Message}");
            booksData = new List<BooksData>();
        }
        
        loaded = true;
    }
    
    
}