@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome!</h1>

<p>Welcome to a lotr information app. </p>
<p>Here you can find information about the characters and Books in the Lord of the Rings.</p>

<NavLink href="/category" class="btn btn-primary"> Category</NavLink>